body {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #2b645d;

  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png");
  background-repeat: repeat;
}

.container1 {
  /* background-color: coral; */
  margin: 1rem;
}

#title {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  /* background-color: blue; */
  margin: 1rem;
  color: #2b645d;
  text-shadow: 1px 1px 1px #317a5b;
}

.description {
  font-size: 1.5rem;
  /* background-color: red; */
  text-align:justify;
}

.greenText {
  color: #28a745;
  font-weight: bold;
}

.redText {
  color: crimson;
  font-weight: bold;
}

.button1 {
  margin: 0.5rem;
  width: 12rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.button2 {
  margin: 0.5rem;
  width: 12rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.button3 {
    margin: 0.5rem;
    width: 12rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  }



#timeDown {
  display: flex;
  justify-content: center;
  /* background-color: darkmagenta; */
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  border: 3px #2b645d solid;
  border-radius: 30px;
  width: 25rem;
}

.row {
  /* background-color: chocolate */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.col-1 {
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px #2b645d solid;
  /* border-right: 0px; */
  border-radius: 50px 15px 15px 50px;
  margin: 0.5rem;
}

.col-2 {
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px #2b645d solid;
  border-radius: 15px 50px 50px 15px;
  margin: 0.5rem;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  /* background-color: green; */
}

.container3 {
  display: flex;
  flex-flow: column wrap;
  /* background-color: red; */
}
